/* Navbar Layout Styling */
.custom-navbar {
  background-color:rgba(255, 255, 255, 0.155);
  padding: 0.6rem 1rem;
  /* border-bottom: 1px solid #dee2e6; */
  font-family: 'Montserrat', sans-serif;
  z-index: 1000;
  position: sticky;
  top: 0;
  border-radius:0px !important;
}

/* Brand Title */
.navbar-title {
  font-weight: 700;
  font-size: 1.6rem;
  color: #000 !important;
}

.navbar-title:hover {
  color: #2972a6 !important;
  text-decoration: none;
}

/* Nav Links Styling */
.nav-link {
  font-size: 1.1rem;
  margin-left: 20px;
  color: #000 !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2972a6 !important;
  text-decoration: underline;
}

/* Toggler Icon */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}
