.home-container {
  background: linear-gradient(to bottom right, #f6f9ff, #dbe6f6);
  /* min-height: 100vh; */
}

.home-title {
  margin-top:20px;
  font-weight: bold;
  font-size: 2.5rem;
  color: #1b263b;
  font-family: 'Montserrat', sans-serif;
}

.home-subtext {
  font-size: 1.1rem;
  color: #3e3e3e;
  font-family: 'Dosis', sans-serif;
}

.animated-card {
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffffcc;
}

.animated-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}
